<!DOCTYPE html>
<html>
    <head>
        <title>
            Bookslist
        </title>
        <style type="text/css">
            
            .navigation {
                height: 100%;
                width: 150px;
                background-color:lightblue;
                position: fixed;
            }
            div.middle {
                width: 100%;
                margin-left: 400 px;
                padding-left: 200px;
                
            }
                   

        </style>
        <ul class="navigation">
            <li><a href="Index.html">Homepage</a></li><br>
            <li><a href="Bookslist.html">Bookslist</a></li><br>
            <li><a href="ContactUs.html">Contact Us</a></li><br>
            <li><a href="Survey.html">Survey Page</a></li><br>
            <li><a href="Honesty.html">Honesty</a></li><br>
        </ul>
    </head>
    <body>
        <h1 style="text-align: center;">
            Books List
        </h1>
                 
        
        
        <div class="middle">
            <ol>
                <% books.forEach(s =>
                    { %> <a href = <%= s.id %> target="_blank">
                        <li><img src= <%= s.BookImage %> 
                        width="200px"
                        height="300px"/>
                        
                        <%= s.Name %></a>
                        
                        </li><br>
                        

                <%  });
                %>
            </ol>
        </div>
    </body>
</html>
