<!DOCTYPE html>
<html>
    <head>
        <title>
            Honesty
        </title>
        
    </head>
    <body>
        <h1 style="text-align: center;">
            Honesty and Plagariasm
        </h1>
        
        <p style="font-family:'Courier New', Courier, monospace;" class="text">
            "I declare that this assessment is my own work in accordance with Seneca Academic Policy. No part of this assignment has been copied manually or electronically from any other source (including web sites) or distributed with other students."
            <br>
            <br>
            Name: Manwinder Gill
            <br> 
            Student Id: 142887207
            <br>
            Date: 21 September 2022
        </p>
    </body>

</html>